/_/

*~
\#*\#
.\#*
*.bak

/memtest.bin
/cpiolist
/initramfs-linux

/memtest86+-*
/memtest86+-*/
/coreutils-*
/coreutils-*/
/glibc-*
/glibc-*/
/kbd-*
/kbd-*/
/linux-*
/linux-*/
/util-linux-*
/util-linux-*/

